/*here is my external style sheet for AlbumpageV4*/
table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
}
p {
	font-weight: bold;
	font-size: 20px;
}
caption {
	font-weight: bold;
	font-size: 20px;
}
/*italic fonts for band members and producers list*/
ul {
	font-style: italic;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	background-color: lawnGreen;
}
td {
	font-style: italic;
}
